.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}

.text {
  hyphens: auto;
  word-break: break-all;
  white-space: pre-wrap;
}

.date {
  font-size: 10px;
  line-height: 12px;
}
