.comment {
  display: flex;
  gap: 36px;
  padding: 18px 30px 10px 30px;
  border-top: 1px solid #ffffff80;
  background: #212121;
}

.text {
  color: #ffffff80;
  hyphens: auto;
  word-break: break-all;
  white-space: pre-wrap;
}

.date {
  font-size: 10px;
  line-height: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 13px;
}

.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}

.button {
  width: max-content;
  text-transform: none;
  padding: 0;
  line-height: 20px;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #ffffc7;
}

.reply {
  margin-left: 100px;
  position: relative;
}

.reply:before {
  content: '';
  position: absolute;
  width: 64px;
  height: 64px;
  left: -75px;
  background-image: url('data:image/svg+xml,%3Csvg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="SVGRepo_bgCarrier" stroke-width="0"%3E%3C/g%3E%3Cg id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"%3E%3C/g%3E%3Cg id="SVGRepo_iconCarrier"%3E%3Cpath d="M19.5 12L14.5 17M19.5 12L14.5 7M19.5 12L9.5 12C7.83333 12 4.5 11 4.5 7" stroke="%23ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
}
