.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 2.44rem;
}
.link {
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding: 20px 43px;
  border-top: 4px solid transparent;
}
.link:hover {
  border-top: 4px solid #ffffff;
}
.link__active {
  composes: link;
  border-top: 4px solid #ffffff;
}
.loginWrapper {
  margin-left: 4.5rem;
}
.link__btn {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  padding: 13px 30px;
}
