.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: fixed;
  left: 20px;
  top: 125px;
  width: 30px !important;
  height: 30px !important;
  transition: 0.45s ease-out;
}

.arrow:hover {
  transition: 0.25s ease-in;
  cursor: pointer;
  opacity: 0.5;
}
