.button {
  min-width: 285px !important;
  margin: 0 auto !important;
}

.field {
  min-width: 590px !important;
}

.box {
  width: 100%;
  max-width: 590px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.close {
  transition: 0.45 ease-out;
}

.close:hover {
  transition: 0.25 ease-in;
  cursor: pointer !important;
  opacity: 0.7;
}
