.profile__avatar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.avatar {
  transition: 0.45s ease-out;
  width: 150px !important;
  height: 150px !important;
  background: #ffffff;
}

.avatar:hover {
  transition: 0.25s ease-in;
  background: #fcd448;
}

.icon {
  transition: 0.45s ease-out;
}

.icon:hover {
  transition: 0.25s ease-in;
  color: #fcd448;
  cursor: pointer;
}

.backdrop {
  position: absolute !important;
  border-radius: 50% !important;
  background-color: rgba(33, 33, 33, 0.5) !important;
}
