.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
