.game-rules {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.paper {
  min-width: 324px;
  height: 233px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #afafaf solid 5px;
}

.poster {
  width: 350px;
  overflow: hidden;
  object-fit: cover;
}
