@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('./assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
}

@font-face {
  font-family: 'Notable Regular';
  src: url('./assets/fonts/notable-regular/Notable-Regular.eot');
  src: local('Notable Regular'), local('Notable-Regular'),
    url('./assets/fonts/notable-regular/Notable-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/notable-regular/Notable-Regular.woff2') format('woff2'),
    url('./assets/fonts/notable-regular/Notable-Regular.woff') format('woff'),
    url('./assets/fonts/notable-regular/Notable-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
