.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 600px;
}

.field {
  min-width: 600px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
