.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
