.panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 5px;
  font-size: 60px;
}

.progressBar {
  position: relative;
  overflow: hidden;
  width: 57%;
  height: 30px;
}

.bar {
  background: rgb(0 0 0 / 10%);
  box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 30%) inset;
}

.progressStart {
  height: 30px;
  background-color: hsl(120deg 100% 50%);
  animation: counter 2.7s linear forwards;
}

.progressStop {
  width: 0;
  height: 30px;
  background-color: hsl(120deg 100% 50%);
}

@keyframes counter {
  0% {
    width: 100%;
    background-color: hsl(120deg 100% 50%);
  }

  10% {
    width: 90%;
  }

  20% {
    width: 80%;
  }

  25% {
    width: 75%;
    background-color: hsl(90deg 100% 50%);
  }

  30% {
    width: 70%;
  }

  40% {
    width: 60%;
  }

  50% {
    width: 50%;
    background-color: hsl(60deg 100% 50%);
  }

  60% {
    width: 40%;
  }

  70% {
    width: 30%;
  }

  75% {
    width: 25%;
    background-color: hsl(30deg 100% 50%);
  }

  80% {
    width: 20%;
  }

  90% {
    width: 10%;
  }

  100% {
    width: 0;
    background: hsl(0deg 100% 53%);
  }
}
