.pointer {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 10px;
  left: -298px;
}

.pointerText {
  font-family: 'Notable Regular', serif !important;
  font-size: 1.5rem !important;
}

.pointerArrow {
  margin-top: 4px;
}
