.button {
  margin: 0 200px !important;
  font-size: 1.5rem !important;
}

.page {
  background-image: url('home-page.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
