.button {
  font-size: 1.5rem !important;
}

.page {
  background-image: url('/img/home-page.png');
  background-repeat: no-repeat;
  background-position-x: -14px;
  background-size: 102% 100%;
}

.main {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 57px;
  left: 80px;
  align-items: center;
}

.startLink {
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 5px solid #fff;
  padding: 27px 69px;
}

.link {
  composes: startLink;
  font-size: 1.5rem;
  border: unset;
  font-weight: 600;
}
