.main {
  background-image: url('../../assets/images/bg-main.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.headingBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 780px;
  row-gap: 24px;
  position: relative;
  left: 25%;
  top: 25%;
  transform: translate(-25%);
}
.title {
  color: #fff;
  font-family: 'Notable', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.startLink {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 5px solid #fff;
  padding: 27px 69px;
}
.link {
  composes: startLink;
  font-size: 1.5rem;
  border: unset;
  font-weight: 600;
}
