.form {
  width: 310px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.textBlock {
  display: flex;
  justify-content: space-between;
}

.text {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.25rem;
}

.link {
  composes: text;
  color: #fff;
  text-decoration: none;
}

.button {
  width: calc(100% / 3) !important;
  margin: 0 auto !important;
}
